.DS_Store
.env
node_modules/
projects/
**/assets/anchors/*
**/assets/images/*
**/assets/clips/*
**/assets/audio/*
!**/assets/**/.gitkeep
**/outputs/*.mp4
**/outputs/*.mov
**/outputs/*.wav
**/outputs/*.mp3
